/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

/* Main container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

/* Page header styles */
.page-header {
  font-size: 5.5rem;
  font-weight: bold;
  margin: 30px 0;
  color: #cbc5de;
}

/* Custom gradient background */
.gradient-custom {
  background: rgb(25, 118, 210);
}

/* Vertical centering */
.vh-100 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Image styling */
.img-fluid {
  width: 100%;
  height: auto; /* Let the height adjust automatically */
  margin-right: 5px; 
  /* Add some space between the image and other content */
}

/* Form styles */
form {
  /* background-color: #f4f7f9; */
  padding: 20px;
  border-radius: 80px;
  /* box-shadow: 2px 5px rgba(0, 0, 0, 0.9); */ 
  width: 100%; /* Ensure the form occupies the full width */
  max-width: 550px; /* Limit the form width for readability */
  margin: 0 auto; /* Center the form horizontally */
}

.form-outline {
  position: relative;
  padding: 10px;
}

.form-control {
  border: 1px solid #802525;
  border-radius: 7px;
  padding: 15px;
  width: 100%;
}

.form-label {
  position: absolute;
  top: 0;
  left: 15px; /* Adjust the left position for better alignment */
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  pointer-events: none;
  transform: translateY(-50%);
}

/* Button styles */
.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 0;
  color: #f9f6f6;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.btn-primary {
  background-color: #1f86da;
}

/* Link styles */
a {
  text-decoration: none;
  color: #000107;
}

a:hover {
  color: #5b5ba9;
}

.link-danger {
  color: #e13e4e;
}

.link-danger:hover {
  color: #e13e4e;
}

/* Miscellaneous styles */
.small {
  font-size: 0.9rem;
}

.fw-bold {
  font-weight: bold;
  padding: 7px;
}

.form-check {
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .col-md-9,
  .col-lg-6,
  .col-xl-4 {
    margin-bottom: 20px;
  }
}
/* Center-align form and image content on smaller screens */
@media (max-width: 768px) {
  .row.d-flex.justify-content-center.align-items-center.h-100 {
    flex-direction: column;
  }
  .col-md-9,
  .col-lg-6,
  .col-xl-4 {
    margin-bottom: 20px;
  }
}
